.card-header {
  background: #2c9ee2;
  color: #fff;
}
.card-body {
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
}
.container {
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
// @media only screen and (min-width: 1000px) {
//   /* For desktop: */
//   .col-md-1 {
//     width: 4.33%;
//   }
//   .col-md-2 {
//     width: 16.66%;
//   }
//   .col-md-3 {
//     width: 25%;
//   }
//   .col-md-4 {
//     width: 33.33%;
//   }
//   .col-md-5 {
//     width: 41.66%;
//   }
//   .col-md-6 {
//     width: 50%;
//   }
//   .col-md-7 {
//     width: 58.33%;
//   }
//   .col-md-8 {
//     width: 66.66%;
//   }
//   .col-md-9 {
//     width: 75%;
//   }
//   .col-md-10 {
//     width: 83.33%;
//   }
//   .col-md-11 {
//     width: 91.66%;
//   }
//   .col-md-12 {
//     width: 100%;
//   }
// }
.col-md-1 {
  flex: 0 0 auto;
  width: 5.333333%;
}
.material-icons {
  font-size: 24px;
}

@media only screen and (min-width: 753px) and (max-width: 990px) {
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  .header {
    // h2 {
    //   display: none;
    // }
    flex-direction: column;
    .form-control {
      margin-top: 3px;
      margin-bottom: 3px;
    }
    button {
      font-size: small;
      width: min-content;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    // button:after {
    //   content: "";
    // }
  }
  #middle {
    .card-body {
      .row {
        flex-direction: row;
        .col-md-9 {
          width: 5.2rem;
          margin-right: 2rem;
        }
        .col-md-1 {
          width: 3rem;
          height: 2rem;
          float: inline-end; // margin-top: -1rem;

          button {
            width: 2%;
            height: 2%;
            border: none;
          }
          button:hover {
            background-color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 753px) {
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  .header {
    h2 {
      display: none;
    }
    div {
      display: flex;
      flex-direction: column-reverse;
    }
    .form-control {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}
@media only screen and (min-width: 321px) and (max-width: 800px) {
  /* For tablets: */
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  #middle {
    .card-body {
      .row {
        flex-direction: row;
        .col-md-9 {
          width: 3.2rem;
          margin-right: 2rem;
        }
        .col-md-1 {
          width: 3rem;
          height: 2rem;
          float: inline-end;
          // margin-top: -1rem;

          button {
            width: 2%;
            height: 2%;
            border: none;
          }
          button:hover {
            background-color: white;
          }
        }
      }
    }
  }
}
