.card-header {
  background: #2c9ee2;
  color: #fff;
}
.container {
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.modal-header {
  background: #2c9ee2;
  color: #fff;
}
.j {
  height: 15rem;
  overflow: auto;
}
// * {
//   font-size: 15px;
//   font-weight: 500;
//   font-family: Arial, Helvetica, sans-serif;
// }
